.item {
  padding-bottom: 20px;
}

.item-image {
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .item a {
    display: block;
    text-align: center;
  }
  .item img {
    display: inline;
  }
  .item span {
    display: block;
  }
}